<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.edu.cibertec.repositorio.mapper.UsuarioMapper">
    <resultMap type="pe.edu.cibertec.dominio.Usuario" id="Usuario">
        <id column="id" property="id" />
        <result column="nombre" property="nombre" />
        <result column="apellido" property="apellido" />
        <result column="fecha_nacimiento" property="fechaNacimiento" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="telefono" property="telefono" />
        <result column="sexo" property="sexo" />
        <result column="dni" property="dni" />
    </resultMap>
    
   <sql id="columnasUsuario">
        nombre, apellido, fecha_nacimiento, email, password, telefono, sexo, dni
   </sql>
    
  <select id="selectUsuario" resultMap="Usuario">
    select 
      id,
      <include refid="columnasUsuario" />
    from Usuario 
    where id = #{id}
  </select>
  
  <select id="selectAllUsuario" resultMap="Usuario">
    select 
      id,
      <include refid="columnasUsuario" />
    from Usuario 
  </select>
  
  <insert parameterType="pe.edu.cibertec.dominio.Usuario" useGeneratedKeys="true" keyColumn="id" keyProperty="id"  id="insertUsuario">
      insert into usuario (<include refid="columnasUsuario" />) values (#{nombre},#{apellido},#{fechaNacimiento},{email},{password},{telefono},{sexo},{dni})
  </insert>
  
  <update parameterType="pe.edu.cibertec.dominio.Usuario" id="updateUsuario">
      update usuario 
      set 
        nombre = #{nombre}, 
        apellido = #{apellido}, 
        fecha_nacimiento = #{fechaNacimiento},
        email = #{email}, 
        password = #{password}, 
        telefono = #{telefono}, 
        sexo = #{sexo}, 
        dni = #{dni}, 
      where id = #{id}
  </update>
  
  <delete parameterType="long" id="deleteUsuario">
      delete from usuario where id = #{id}
  </delete>
  
  <select id="loginUsuario" parameterType="map" resultMap="Usuario">
    select 
      id,
      <include refid="columnasUsuario" />
    from Usuario 
    where email = #{email} and
    password = #{password}
  </select>
  
</mapper>